body {
    height: 95vh;
    width: 95vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    color: seagreen;
}

div {
    display: flex;
}

canvas {
    border: 2px solid black;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

/* Modal, Animation */
@-webkit-keyframes example {
    from {top: -50px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@keyframes example {
    from {top: -50px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

.modal {
    display: none;
    position: fixed;
    width: 516px;
    height: 516px;
    overflow: auto;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .4);
}

.modal:target {
    display: table;
    position: absolute;
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.modal-container {
    display: table;
    position: relative;
    background: rgba(4, 49, 14, 0.8);
    margin: auto;
    width: 70%;
    padding: 0;
    outline: 0;
    text-align: center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera*/
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera*/
    animation-name: example;
    animation-duration: 1s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px 16px;
}

button {
    cursor: pointer;

    width: 110px;
    margin: 12px;
    padding: 4px 8px;

    border-radius: 5px;
    border: none;
    font-weight: 600;
    
    background: rgb(179, 4, 4);
    color: #fff;
}

button:hover {
    background: #5cc85c;
}

.container h2 {
    color: rgb(179, 4, 4);
}